.paginate-layout{
    display: flex;
    justify-content: flex-end;
  }
  .paginate-btn{
    padding: 6px 12px;
    margin: 0px;
    border: 0;
  }
  .paginate-btn:hover{
    background-color: #1f6feb;
    color: #fff;
    border-radius: 4px;
  }