.paginate-layout{
    display: flex;
    justify-content: flex-end;
  }
  .paginate-btn{
    padding: 6px 12px;
    margin: 0px;
    border: 0;
    background-color: transparent;
  }
  .paginate-btn.active{
    background-color: #411AC2;
    color: #fff;
    border-radius: 4px;
  }
  .paginate-btn:hover{
    background-color: #411AC2;
    color: #fff;
    border-radius: 4px;
  }